.footer_main{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.f_heading h1{
    font-size: 82px;
}

.f_desc{
    font-size:20px;
}


@media screen and (max-width:480px) {
    .f_heading h1{
        font-size: 33px;
    }
    .f_desc{
        font-size:14px;
    }
   
}